@import "tailwindcss";
/* Floating Glass Balls Background */
.glass-balls {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.ball {
  position: absolute;
  width: 80px;
  height: 80px;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(4, 155, 231, 0.9),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: 50%;
  backdrop-filter: blur(25px);
  filter: drop-shadow(0 0 20px rgba(196, 169, 169, 0.8));
  animation: floatBall 12s ease-in-out infinite;
}

.ball:nth-child(2) {
  width: 140px;
  height: 140px;
  animation-duration: 15s;
}

.ball:nth-child(3) {
  width: 100px;
  height: 100px;
  animation-duration: 18s;
}

/* Floating animation */
@keyframes floatBall {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(80px, -40px);
  }
  50% {
    transform: translate(-60px, 60px);
  }
  75% {
    transform: translate(40px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@theme {
  --font-sans: "Be Vietnam Pro", system-ui, sans-serif;
  --font-serif: "Gabarito Variable", ui-serif, serif;

  --color-primary: #2563eb;
  --color-neutral: #94a3b8;
  --color-white: #e2e8f0;
  --color-black: #0e141b;

  --text-xs: 0.875rem;
  --text-xs--line-height: 1.125rem;
  --text-sm: 1rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1.125rem;
  --text-base--line-height: 1.625rem;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.5rem;
  --text-xl--line-height: 1.813rem;
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 2.125rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.375rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.688rem;
  --text-5xl: 2.5rem;
  --text-5xl--line-height: 3rem;
  --text-6xl: 3rem;
  --text-6xl--line-height: 3.625rem;
  --text-7xl: 3.75rem;
  --text-7xl--line-height: 1;
  --text-8xl: 4.5rem;
  --text-8xl--line-height: 4.875rem;
  --text-9xl: 6rem;
  --text-9xl--line-height: 6.625rem;

  --tracking-tightest: -2px;
  --tracking-tighter: -1px;
  --tracking-tight: -0.25px;

  --animate-slide-in: slide-in 600ms ease both;

  @keyframes slide-in {
    10% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
